<div class="container hero-header">
    <div class="hero-portrait">
      <div class="hero">
        {{hero-thumbnail iconImage=model.thumbnail}}
        <h2>{{model.name}}</h2>
        <hr>
        <h4>About</h4>
        <ul class="about">
          <li>
            No. Stories <strong>{{model.stories.available}}</strong>
          </li>
          <li>
            No. Series <strong>{{model.series.available}}</strong>
          </li>
        </ul>
      </div>
    </div>

  {{outlet}}
</div>
